
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MvcTemplate.Web.ViewModels.Home.IdeaViewModel

<div>
    @Model.Title
</div>
<div>
    Description: @Model.Description
</div>


